[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        signingkey = SIGNINGKEY
[credential]
        helper = GIT_CREDENTIAL_HELPER
[gpg "ssh"]
    # MacOS 1Password
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

    # Linux 1Password
    # program = /opt/1Password/op-ssh-sign
